<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    {% extends 'navbar.html' %}
    {% block content %}
    <section>
      <div class="container">
        <div class="addAkk">
          <div class="textLogo">PUBG ACCOUNTS</div>

          <form  action="{% url 'addacount' user.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for f in form %}
            <div class="col-md-6">
                <p>{{f.label}}</p>
                <div class="mt-3">{{f}}</div>
            </div>
            {% endfor %}
            <br>
            <button class="btn btn-primary">Saqlash</button>
        </form>
        <div class="col-12">
          <div class="row">
              {% for project in accounts  %}
                  <div class="col-3">
                      <div class="addItem">
                      <div class="photoAkk">
                        <div class="card_image">
                          <img style="height: 200px; width: 200px;" src="{{project.acount_image.url}}" alt="">
                        </div>
                      </div>
                      
                      <h1>{{project.level}}</h1>
                      <p>narxi: <strong class="text-danger">{{project.price}}</strong></p>
                      <p href="{{project.rp}}">rp</p>
                      <br>
                      <p>mifik <strong class="text-primary">{{project.mifik}}</strong></p>
                      <p>qoshimcha <strong class="text-primary">{{project.qoshimcha}}</strong></p>
                      <p>turi <strong class="text-primary">{{project.turi}}</strong></p>
                      <p>murojaat uchun <strong class="text-primary">{{project.murojaat_uchun}}</strong></p>
                      <p>{{project.data}}</p>

                      <a class="btn btn-primary" href="{% url 'edit_account' project.id %}">edit_account</a>
                      <a class="btn btn-danger" href="{% url 'delete_account' project.id %}">delete_account</a>
                  </div>
              {% endfor %}
          </div>
    </section>
    {% endblock content %}

  </body>
</html>
