<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'navbar.html' %}
        {% block content %}
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">editprofil</h1>
            </div>
            <div class="col-md-12">
                <form  action="{% url 'editprofil' user.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                            <label for="">{{f.label}}</label>
                            <p>{{form}}</p>
                            <button class="btn btn-primary">Saqlash</button>
                </form>
                <br>
            </div>
            
        </div>
        <div class="row">
            
        </div>
            <div class="col-md-12">
                <div class="text-center" class="card">
                    <img style="height: 100px; width: 100px;" src="{{data.profil_image.url}}" alt="">

                    
                </div>
            </div>
            

        {% endblock content %}
</body>
</html>